.inputPlus {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 50px;
	margin: 2rem 0;
}

.inputPlusValue {
	border: solid 1px #b1b1b1;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 9px 10px;
	font-family: 'Inconsolata', sans-serif;
	background: #DBE2EF;
	outline: none;
}

.inputPlusValue::placeholder {
	color: #7B7B7B;
}

.inputPlusButton {
	border-radius: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	background: #3F72AF url('./images/plus.svg') no-repeat center center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
} 

.inputPlusButton:hover {
	opacity: 0.7;
}