.archiveTasksTitle {
	margin-bottom: 0.8rem;
}

.archiveTasksButton {
	display: block;
	cursor: pointer;
	border: none;
	background-color: #3F72AF;
	color: white;
	padding: 6px 11px;
	border-radius: 5px;
	transition: all 0.3s ease-out;
	font-size: 12px;
	margin: 0 auto;
}

.archiveTasksButton:hover {
	background: #4f83c2;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%)
}